# extension
*.o
*.exe
*.a

# cache dir
autom4te.cache
.deps
.dirstamp

# auto generate files
Makefile
config.log
config.status
lib/alloca.h
lib/arg-nonnull.h
lib/arpa/
lib/c++defs.h
lib/charset.alias
lib/config.h
lib/configmake.h
lib/ctype.h
lib/dirent.h
lib/fcntl.h
lib/fnmatch.h
lib/iconv.h
lib/inttypes.h
lib/langinfo.h
lib/locale.h
lib/math.h
lib/netdb.h
lib/ref-add.sed
lib/ref-del.sed
lib/selinux/
lib/signal.h
lib/stamp-h1
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/termios.h
lib/time.h
lib/unistd.h
lib/unistr.h
lib/unitypes.h
lib/uniwidth.h
lib/unused-parameter.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h
src/coreutils.h
src/dircolors.h
src/fs-is-local.h
src/fs.h
src/version.c
src/version.h
